**/bin
**/bin-int

.vs/
.vscode/

vendor/gnu-efi/x86_64

vendor/mtools/mtools
vendor/mtools/mattrib
vendor/mtools/mcat
vendor/mtools/mcd
vendor/mtools/mclasserase
vendor/mtools/mcopy
vendor/mtools/mdel
vendor/mtools/mdeltree
vendor/mtools/mdir
vendor/mtools/mdu
vendor/mtools/mformat
vendor/mtools/minfo
vendor/mtools/mlabel
vendor/mtools/mmd
vendor/mtools/mmount
vendor/mtools/mmove
vendor/mtools/mpartition
vendor/mtools/mrd
vendor/mtools/mren
vendor/mtools/mtype
vendor/mtools/mtoolstest
vendor/mtools/mshortname
vendor/mtools/mshowfat
vendor/mtools/mbadblock
vendor/mtools/mzip
vendor/mtools/floppyd
vendor/mtools/floppyd_installtest
vendor/mtools/mkmanifest
vendor/mtools/*.info*
vendor/mtools/*.dvi
vendor/mtools/*.html
vendor/mtools/*~
vendor/mtools/*.orig
vendor/mtools/a.out
vendor/mtools/*.o
vendor/mtools/core
vendor/mtools/config.*
vendor/mtools/Makefile